/*主新闻块和副新闻块的样式*/
.main-content div,.sidebar div {
	background-color: #fff;
	border: 1px solid #fff;
	margin-bottom: 2em;
	padding-bottom: 5em;
	padding-top: 3em;
	padding-left: 5em;
	padding-right: 5em;
	box-shadow: 1px 1px 1px 1px #fff; 
}
/*设置副新闻块的内边距*/
.sidebar div {
	padding: 1em 3em 3em 2em;
}
/*标题(工作简报)的外部样式*/
.work-title {
	color: #fff;
	text-align: center;
	background-color: #3788DA;
	transition: all 0.3s ease 0s;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
/*标题(工作简报)的内部样式*/
.work-title h2 {
	transition: all 0.3s ease 0s;
	margin: 0;
	padding: 0.5em 0;
}















































































































































































































































































































































































